[2019-12-10 15:27] MMenninger opened #1 "What should this GitHubs project's structure look like?"

[2019-12-10 15:28] MMenninger opened #2 "This project is currently private. Should it be public?"

[2019-12-10 15:30] MMenninger opened #3 "What are our short term goals?"

[2019-12-10 15:30] MMenninger opened #4 "I can only assign Noel to tasks."

[2019-12-10 15:35] MMenninger opened #5 "Need some examples of good visualizations that we can try to reproduce."

[2019-12-10 17:03] #4 closed, assigned to nmpeterson

[2019-12-11 16:55] nmpeterson commented on #2
Changed.

[2019-12-11 16:55] #2 closed

[2019-12-11 17:01] MMenninger commented on #5
Can I paste an image?

![image](https://user-images.githubusercontent.com/6894600/70642842-921cda00-1c05-11ea-8c1e-7a848ad2c4e8.png)

[2019-12-11 17:02] MMenninger commented on #5
![image](https://user-images.githubusercontent.com/6894600/70642948-c1cbe200-1c05-11ea-9981-5e41bf85ab5e.png)

[2019-12-11 17:03] MMenninger commented on #5
![image](https://user-images.githubusercontent.com/6894600/70643024-e58f2800-1c05-11ea-83f5-d9df34dd2990.png)

[2019-12-11 17:05] MMenninger commented on #5
Recessions

![image](https://user-images.githubusercontent.com/6894600/70643131-18392080-1c06-11ea-8b4a-5794599493ca.png)

[2019-12-11 17:05] MMenninger commented on #5
![image](https://user-images.githubusercontent.com/6894600/70643172-27b86980-1c06-11ea-9c09-49b963491d71.png)

[2019-12-11 17:17] MMenninger commented on #5
![image](https://user-images.githubusercontent.com/6894600/70644054-d9a46580-1c07-11ea-938a-4a68c5e82063.png)

[2019-12-11 17:18] MMenninger commented on #5
![image](https://user-images.githubusercontent.com/6894600/70644103-efb22600-1c07-11ea-96f2-341c4f1045cb.png)

[2019-12-13 15:35] tallishmatt commented on #5
@MMenninger I'm curious if you think shifting these images to a section of the wiki might be helpful, rather than recording them in an issue? Considering that they will serve as ongoing guidance as opposed to problems to solve.

[2019-12-13 16:03] tallishmatt commented on #3
Hoping we can establish a firm list of these and priorities when we meet in January, but here are some ideas:

Larger scale:
- [ ] identify additional R packages that will assist in design (e.g. ggthemr) and explore best practices (e.g. bbplot from BBC)
- [ ] learn how to manipulate ggplot and additional packages to produce CMAP themed plots
   - [ ] legend location
   - [ ] title, subtitle, notes

[2019-12-13 16:14] MMenninger commented on #5
Wiki started per @tallishmatt
https://github.com/CMAP-REPOS/CMAP-R-Cookbook/wiki/Sample-images

[2019-12-13 16:14] #5 closed

[2020-01-07 19:18] tallishmatt commented on #5
Link to wiki page now here:
https://github.com/CMAP-REPOS/CMAP-R-Cookbook/wiki/Example-Outputs

[2020-01-07 23:09] nmpeterson commented on #1
A simpler version of [`easystats/see`](https://easystats.github.io/see/) is probably a good target to start with, if we are limiting this to color palettes and chart/map themes.

[2020-01-07 23:17] nmpeterson commented on #1
Here's a good reference for all of the ggplot parameters we can modify: https://ggplot2.tidyverse.org/reference/theme.html

[2020-01-21 19:51] tallishmatt commented on #1
Marking this as done, as I think we're on the same page at this point.

[2020-01-21 19:51] #1 closed

[2020-01-21 19:53] matthewstern opened #8 "Build general theme object"
For fonts and sizes, use the DESIGNER GUIDELINES section of [this guide](https://cmapil.sharepoint.com/resources/communications/Shared%20Documents/Communications%20Resources%202019/Other%20Resources/COMMS_Visuals_Best_Practices_FEB2020.pdf).

For general layout, use a recent policy update such as [this one](https://www.cmap.illinois.gov/updates/all/-/asset_publisher/UIMfSLnFfMB6/content/chicago-re

[2020-01-21 19:55] matthewstern opened #9 "build color palettes"
build a range of palettes including race/eth, Chi region and peers, and various sub-palettes and color scales for discrete and continuous data. All based on the master CMAP color palette.

[2020-01-21 19:56] matthewstern opened #10 "automatically highlight final data point on a time series chart with dot and data label"
see e.g. Noel's ACS indicator R script and [this graph](https://www.cmap.illinois.gov/2050/indicators/workforce-participation#InclusiveGrowth).

[2020-01-21 19:58] matthewstern opened #11 "add recession outlines to time series"

[2020-01-21 19:59] matthewstern opened #12 "built outputter function"
export WEB, POWERPOINT, and REPORT versions of graphics as per the DESIGNER GUIDELINES section of [this guide](https://cmapil.sharepoint.com/resources/communications/Shared%20Documents/Communications%20Resources%202019/Other%20Resources/COMMS_Visuals_Best_Practices_FEB2020.pdf)

Presumably based on bbplot::finalise_plot

[2020-01-21 20:01] tallishmatt commented on #3
I have checked the items in the above list that I have created specific issues for. Closing this for the time being so it doesn't clutter our workflow.

[2020-01-21 20:01] #3 closed

[2020-01-22 15:42] nmpeterson commented on #12
Just a note: everything should be exported in SVG format for Comms, as that is easiest for them to edit in Illustrator.

[2020-01-24 18:39] tallishmatt commented on #11
https://r-graphics.org/recipe-annotate-rect

[2020-01-27 20:28] matthewstern opened #14 "Incorporate sample ggplot code into README.Rmd; eliminate sample_graphics.R"
@nmpeterson per your request to document the sample datasets I added, I attempted to follow the instructions you sent [here](https://r-pkgs.org/data.html#documenting-data), which led me to chapter 8 of the same book and to the [basics of Roxygen](https://cran.r-project.org/web/packages/roxygen2/vignettes/roxygen2.html). However, I am lost and could use your help.

I am working in the 'adtl-sample-

[2020-01-27 21:56] nmpeterson commented on #14
Try commenting out the entirety of sample_graphics.R while you're working on your documentation.

As a longer-term modification, I think that code makes more sense as part of README.Rmd than as a script in the R folder. This will have the effect of always prominently displaying the latest sample plots on the main page of the GitHub site.

[2020-01-28 19:45] MMenninger opened #16 "package was working for me, tried to update, broken."
library(cmapplot)
**> economy_basic**
# A tibble: 18 x 4
   variable       year  sector                value
   <chr>          <fct> <chr>                 <dbl>
 1 Jobs           2001  local               2175402
 2 Jobs           2001  tradedgoods          440908
 3 Jobs           2001  tradedservices      1153064
 4 Jobs           2017  local               2482547
 5 Jobs           2017  tradedg

[2020-01-28 20:27] MMenninger commented on #16
Sarah showed me how to fix. Need to specify package.
cmapplot:::theme_cmap()

This works:
# a grouped and stacked bar chart (via `interaction()`)
 ggplot(economy_basic, aes(x = interaction(year, variable), y = value, fill = sector)) +
   geom_col(position = "fill") +
   scale_y_continuous(labels = scales::percent) +
   cmapplot:::theme_cmap()

[2020-01-28 20:27] #16 closed

[2020-01-28 21:34] tallishmatt commented on #14
OK, this is commented out in pull request #15 but I'm leaving this issue open as a reminder to eventually build the sample ggplot code into README.Rmd.

[2020-01-28 21:38] tallishmatt commented on #11
There's some sample code on the BLS API package page:
 https://github.com/mikeasilva/blsAPI

Challenge will be to accept the x axis bounds of the primary dataset. Maybe this involves filtering the recessions table? Or, maybe annotate_rect rather than geom_rect solves this problem?

[code]

[2020-01-29 20:37] nmpeterson commented on #16
With PR #17 you should no longer need the `cmapplot::`

[2020-02-03 16:10] tallishmatt commented on #12
do we want the ability to export in jpg and pdf as well, for more immediate uses that don't involve further tweaking by comms?

[2020-02-03 16:39] nmpeterson commented on #12
I imagine this would be useful, although PNG (or GIF) should be used instead of JPG, which is good for photos but not graphics. I think an `output_format` parameter for the function, with a default of `"svg"` would be a good way to implement this, so that if not explicitly specified then an SVG will be exported.

[2020-02-03 20:08] nmpeterson commented on #10
The labeling part of this is done as of #22. Labels can be added via `+ geom_text_lastonly()`.

Better font handling and an option for adding points still to come.

[2020-02-03 22:39] tallishmatt commented on #12
Once we get the font situation figured out, it would be cool if this function issued a warning if the correct fonts were not being used.

[2020-02-04 15:23] tallishmatt commented on #12
@sarahcmap, not sure this was 100% clear from our meeting yesterday: In terms of final chart layout, our direction at this point is to combine the "designer guidelines" from the [link](https://cmapil.sharepoint.com/resources/communications/Shared%20Documents/Communications%20Resources%202019/Other%20Resources/CMAP_Visuals_Best_Practices_comms_use.pdf) in the first post of this issue with a graphic

[2020-02-04 15:28] sarahcmap commented on #12
Thanks for the additional details Matt - I'm still just getting started but I'll touch base with Martin/Nancy as needed!

[2020-02-04 16:56] nmpeterson commented on #12
Be forewarned that if we add a PDF-exporting option, we will probably run into issues with the fonts. See [this StackOverflow Q&A](https://stackoverflow.com/questions/46008304/saving-ggplot-graph-to-pdf-with-fonts-embedded-in-r/46532114#46532114) for more info.

[2020-02-10 18:16] nmpeterson opened #24 "geom_text_lastonly() enhancements?"
Questions about label_last_point mostly pertain to implicitly automating behavior that the user is likely to need pretty much every time this function is added. Of course, this means more work now, and it may be that some of these things are not worth the effort. But here's what comes to mind:

- [x] 1. Could it be programmed in such a way that defaults to taking the Y axis value as the label, rat

[2020-02-13 19:06] tallishmatt commented on #11
As a reminder, the goal is to replicate this:

![image](https://user-images.githubusercontent.com/54633946/74457667-344b7f00-4e4e-11ea-8425-6934563d7eb6.png)

This feature is a work in progress in branch "add_recessions." basic functionality is up.

Before I do a pull request, I'm trying to solve a few more problems:
1. Is there a way to inherit text formatting from `theme_cmap()` or adjust `theme

[2020-02-13 21:53] nmpeterson commented on #11
@tallishmatt:

1. As far as I know, `theme_cmap()` cannot modify fonts associated with geoms. However, I plan to modify the font-loading code to override Arial with Whitney Medium as the default "sans" font, fo any text that is not explicitly set to one of the other weights. So, you can just ignore fonts for now.

2. I'm pretty sure the layering order is 100% controlled by the order of commands/ge

[2020-02-13 22:50] nmpeterson commented on #10
This seems apropos to all of the font work: https://stackoverflow.com/questions/48977963/how-to-let-geom-text-inherit-theme-specifications-ggplot2

[2020-02-14 00:32] tallishmatt commented on #11
Thanks Noel. Will summit pull request soon.

Note to self: need to add legend handling, move annotations into if statement.

[2020-02-14 13:51] matthewstern opened #26 "improved x axis control in TS"
In time series, x labels should be integers. Also, in some situations we have published graphs where the first year is full ("2001") and those that follow are partial ('02, '03, '04, etc). We could make this an easy add (I've already found a source for the first half).

[2020-02-20 20:44] MMenninger opened #28 "How to test theme changes"
I made some changes in a branch to the theme. Not sure how to test them.

I changed the font and title placement.

I made the left margin big - per CMAP standard. However I think the margin should really be x% of chart size rather than points or cm. Wecome to thoughts.

[2020-02-21 15:07] matthewstern commented on #28
Depends what you mean by testing.

`devtools::load_all()` will load the package as it is saved locally in the branch you are working on, allowing you to test the feature you have written and see how it works.

The file `/r/sample_graphics.r` contains a variety of pre-written ggplot code you can use to see how your features work.

`devtools::check()` will make sure you have done everything you need

[2020-02-24 18:21] sarahcmap commented on #28
I tried this out and after adjusting the vjust/hjust parameters and margins, I find that the plot gets pushed down - more noticeable when the title is long.  (Also have to implement left justification for multiline title, but that can come next).  Any suggestions?
![Rplot01](https://user-images.githubusercontent.com/44509150/75179666-317b4480-5700-11ea-8700-2a850e7f3765.png)

[2020-02-24 19:25] matthewstern commented on #28
I'm curious if the two column solution that @sarahcmap was playing with might be the trick here. The left column could contain the title and notes, and the right column could contain the legend and and plot area?

[2020-02-24 21:23] sarahcmap commented on #28
Yeah using that approach I got here, but i did tweaking based on this specific text/example.  It needs to be generalized.  The work is in the finalizeplot branch (theme_cmap and finalize_plot R files).

@MMenninger check out my branch when you can and let me know what you think.  Can we achieve the layout we want using just ggplot2 theme() elements as in your branch, or do we need to use the grid

[2020-02-25 16:10] MMenninger commented on #28
Yours looks much better. Just need to see if we can put into theme.

[2020-02-25 20:44] matthewstern commented on #11
This is done, although there are some outstanding enhancements I'd like to add separately.

[2020-02-25 20:44] #11 closed

[2020-02-25 20:50] matthewstern opened #29 "improve add_recessions"
- [x] Inherit min, max, and type (date vs int) of x axis from the primary aes, rather than specifying them again. (see ggproto, as implemented in `geom_text_lastonly`?)
- [x] cut off rectangles at highest and lowest grid lines rather than plot y axis min and max (better solution may be to define the y axis min and max as highest and lowest gridline so ymin = first gridline and ymax = last gridline

[2020-02-25 21:20] nmpeterson commented on #9
This is basically resolved, as of #25 -- just waiting to hear from Nancy about discrete color palettes to replace "mobility", "prosperity", etc.

[2020-02-25 21:23] nmpeterson opened #30 "Set backup font in case Whitney is not installed"
Use Calibri if possible.

[2020-02-28 17:22] nmpeterson commented on #24
Regarding suggestion 3, if `show.legend = FALSE`, then the text labels will not be added to the legend. In pull request #31 I changed this to the default behavior, but it could be overridden by specifying `show.legend = TRUE` if desired.

[2020-02-28 17:26] nmpeterson commented on #10
I am going to consider this a sub-issue to #24 and close it.

[2020-02-28 17:26] #10 closed

[2020-03-02 21:51] nmpeterson commented on #24
As far as I can tell, suggestion 2 is impossible because the axis label formatting is specific to `scale_y_continuous` and is therefore not inheritable by `geom_text_lastonly`.

For similar reasons, suggestion 5 also seems impossible.

I am working on some code to address suggestions 1 & 4.

[2020-03-04 17:34] #30 closed

[2020-03-04 20:17] matthewstern commented on #8
Definitely related to `theme_cmap`:
- [ ] `theme_cmap` should specify the following fonts and sizes: note/source 7 pt Book; legend and any on-figure labels 8 pt Medium; Title 10 pt Semibold
- [ ] legend swatch default to circle rather than rectangle for non-lines
- [ ] Multi-row legend handling (exploratory--what happens when too many items are specified than fit on a single line? does ggplot auto

[2020-03-04 20:20] matthewstern commented on #12
- [ ] Width of sidebar as argument – percentage?
- [ ] Auto-breaking title and note/source text (in progress)
- [ ] Letting of title and note/source text (awaiting details from Nancy)
- [ ] Strong (2 point) horizontal line across top (in progress)
- [ ] Four output options (based on best practices document):
    - [ ] Default = Indesign (note: font sizes inherited from theme)
    - [ ] Web = Web

[2020-03-04 20:22] #28 closed

[2020-03-04 20:25] matthewstern opened #34 "Add transpo-related sample data"
@MMenninger is it possible for you to import a couple of sample datasets still? It would be great to have a few things in here that are transportation focused, so that we can make sure we test with other types of data besides for economic and demographic.

It took me longer than I want to admit to figure out how to load in and document sample data. I would be happy to sit down with you and walk yo

[2020-03-04 21:33] matthewstern commented on #34
@aidansd too!

[2020-03-05 21:33] matthewstern commented on #14
OK this is done as of PR #35 .

[2020-03-05 21:33] #14 closed

[2020-03-05 21:38] matthewstern commented on #9
I just did some experimentation with the palettes today. When following the CMAP palette linearly, every continuous palette starts with a really light color. In many continuous palette uses, we would want a range of relatively saturated/bright  colors--say, mapping losses to gains as in this figure:

![image](https://user-images.githubusercontent.com/54633946/76027988-3eb1e380-5ef7-11ea-941c-1faed

[2020-03-06 17:34] nmpeterson commented on #9
I'll take a crack at a couple divergent gradients that we can run by Nancy. They will likely have to deviate from the official palette somewhat.

[2020-03-06 18:13] matthewstern commented on #9
@gritzenthaler made a good point to me offline yesterday--eventual ideal implementation of this sort of thing may beg for not only a divergent gradient but also a way to define one color as the origin/zero color. A quick internet search suggests that this might not actually be so difficult:

https://stackoverflow.com/questions/27206798/r-assign-colors-to-values-color-gradient-palette
https://www.r

[2020-03-06 22:07] matthewstern commented on #29
to do this I need to unpack a little bit more, and create an altered ggproto object for GeomRect that inherits data from the top-level command. See https://ggplot2-book.org/internals.html and Noel's work with last point highlighting.

[2020-03-06 23:16] nmpeterson commented on #9
Diverging palettes have been added in #36.

[2020-03-10 23:17] matthewstern commented on #8
Multi-row legend handling may be best done with facets modified as described here, including setting the width between facets to zero: https://dmitrijskass.netlify.com/2019/06/30/multi-level-labels-with-ggplot2/

[2020-03-20 14:09] nmpeterson opened #37 "Font specification won't work on Mac/Linux"
Update font specification to check current platform and do something different if non-Windows.

[2020-03-26 18:35] gritzenthaler commented on #8
I have a general question/clarification but I see it a lot in the theme file. My understanding was that we're supposed to use the :: package notation for extra packages but not necessary for the required ones. I see 'ggplot::' all over the theme file so I'm wondering if my understanding is wrong or if those were just left over from earlier?

[2020-03-27 22:41] matthewstern commented on #29
ggproto for rectangles is established. This inherits primary dataframe and uses that to filter the recessions. I have not yet figured out how to inherit the type of data...I am not sure this is possible.

Next step is to use the same framework to build a ggproto for text. Should be relatively straightforward.

[2020-03-28 01:35] nmpeterson commented on #8
I've been doing it to be as explicit as possible, which is a good habit to get into. Being less explicit is a frequent source of hard-to-discover/fix bugs.

[2020-03-30 01:05] nmpeterson commented on #37
This is currently being held up by an issue with the required `sysfonts` package (which I used to check whether Whitney is installed) failing to load on macOS Catalina. I have submitted [an issue](https://github.com/yixuan/sysfonts/issues/11) with the developer of that project, so hopefully it can be resolved in the near future.

@MMenninger if you'd like to test my code out, feel free to check ou

[2020-03-30 13:17] matthewstern opened #40 "conflicts and masks"
I typically load the tidyverse library before loading cmapplot, which 'looks' great. However, I recently loaded cmapplot before tidyverse, and was surprised by the extensive list of conflicts:

![image](https://user-images.githubusercontent.com/54633946/77916245-64b07680-725e-11ea-93e6-9a8f72b9af43.png)

Why would this be? It doesn't seem to cause any issues but I am curious.

[2020-03-30 13:54] matthewstern commented on #34
@aidansd, thanks for uploading `redlight_camera.Rdata`. I commented on your commit [here](https://github.com/CMAP-REPOS/cmapplot/commit/f953214037b3f05e2463a9e77adc5ca9acc09ee3#commitcomment-38103750) but I wanted to recreate the issue here where it is more discoverable.

Because of my weekend screw-up with PR #39, my recessions branch now includes your new dataset. So, when I ran `devtools::check

[2020-03-30 14:24] matthewstern commented on #29
this is done. We may have to come back around to confirming fonts once `theme_cmap` is further along.

[2020-03-30 14:24] #29 closed

[2020-03-30 15:08] aidansd commented on #34
I figured as much-- the City of Chicago has some strange naming conventions that I thought wouldn't be an issue, but apparently are. I will clean a new version of the sample data and re-add to its own feature branch.

[2020-03-30 15:27] matthewstern commented on #34
Oh, I noticed one other thing--the Rdata file is called `redlight_camera.RData` but the data file it loads is called is just called `redlight`. I think ideally they should be named identically?

[2020-03-30 16:35] nmpeterson commented on #40
When you load `cmapplot`, those functions from its dependencies are loaded as part of it. Nothing to worry about, as they're just being masked with identical functions from the original packages.

[2020-03-30 16:35] #40 closed

[2020-03-30 21:23] matthewstern commented on #9
To do:
- [ ] consider streamlining naming conventions for clarity @gritzenthaler
- [ ] consider removing `@export` tags from certain subfunctions that are allowed to be internal ([more info](https://r-pkgs.org/namespace.html#exports)) @gritzenthaler
- [ ] build a "highlight one" function that allows user to apply a highlight color to one data point in a graph, and grays to the others. consider mim

[2020-04-03 13:44] matthewstern commented on #8
Specs from Nancy:

Line widths
- [ ] "0" line when it separates a positive and negative axis: .0138 in
- [ ] lines for data lines (line graphs): .04166
- [ ] all other lines: .00416 in

Type Leading
- [ ] type in graph: 14pt

[2020-04-03 13:45] matthewstern commented on #12
Specs from Nancy:

graph area
- [ ] Space for graph title/note/source: 2.1503 in
- [ ] Space between the title and graph: 0.16 in
- [ ] Graph: 6.921 in

other
- [ ] line on top of title/graph: .0277 in
- [ ] leading for Title: 19pt
- [ ] leading for Note/Source: 13.2pt

[2020-04-17 20:58] nmpeterson commented on #37
Apparently the `sysfonts` loading issue can be fixed by installing [XQuartz](https://www.xquartz.org/) on your Mac. It used to be bundled (as X11) with macOS, but not after version 10.7.

[2020-04-27 20:50] nmpeterson commented on #24
Consider modifying suggestion 6 with approach mentioned by @matthewstern in #41 (implemented for geom_recessions.R), with entirely separate `mapping`/`aes` parameters available for points.

[2020-04-29 21:02] #37 closed

[2020-05-01 22:42] #24 closed

[2020-05-04 15:32] matthewstern commented on #34
@aidansd any chance you might be able to document your redlight data before you leave for Olympia? No worries if not!

[2020-05-05 18:02] matthewstern commented on #8
See https://stackoverflow.com/questions/17311917/ggplot2-the-unit-of-size

[2020-08-31 17:23] matthewstern commented on #34
I have deleted Aidan's branch because he did not document his added dataset before leaving CMAP. getting some transpo datasets in to the package remains a goal.

[2020-08-31 20:45] matthewstern commented on #8
Assignments:

- @matthewstern: ggplot sizing (oy!)
- @dlcomeaux: legend formatting
- @nmpeterson: coordinating font sizes across theme_cmap() and finalize_plot(). Possibly picking up y axis label location challenge from @gritzenthaler? (I forgot to bring this up in the meeting). Other smaller to-dos in theme_cmap() / supporting me and Daniel.

[2020-08-31 21:00] matthewstern opened #47 "package documentation/"cookbook""
Establish a digital book that helps new learn CMAPplot and help returning users implement it.

It's probably worth starting with reviewing the documentation for bbplot, and then implementing a framework for documentation development (pkg-down or bookdown?).

A few months ago, I had started to outline what should go in this packages readme and what should go in rmarkdown. I added a wiki file for th

[2020-09-02 00:09] matthewstern commented on #34
@dlcomeaux, PR #48 looked good, thanks for submitting it. I just merged into master.

You'll notice another commit pre-merge...

A useful QC tool Noel taught us earlier in this process was the function from the `devtools` package called `check()`, which runs a laundry list of really aggressive checks on a package being developed. We're trying to submit PRs only once the author has run the function

[2020-09-02 00:09] #34 closed

[2020-09-04 16:23] dlcomeaux commented on #8
I've done some digging into the legend swatch. ggplot has some elements that seem like they _should_ allow this - specifically, the function _override.aes()_ - but it appears that for whatever reason, that can only modify shapes on some, but not all, ggplot chart types. I'll keep investigating, but this one might not be feasible without some rather elaborate workarounds (e..g, plotting an invisibl

[2020-09-04 18:13] dlcomeaux commented on #8
Sorry, closed by mistake (clicked the wrong comment button).

[2020-09-04 19:13] dlcomeaux commented on #8
Specifically, it looks like [this](https://stackoverflow.com/questions/40469757/change-the-shape-of-legend-key-for-geom-bar-in-ggplot2) is the way you can do a workaround. However, I'm struggling with a way to do this in a theme, as it requires referencing prior elements of the ggplot chart (e.g., you need to know whether the color scales are generated by "color" or "fill", and you also need to be

[2020-09-04 20:15] dlcomeaux commented on #8
@matthewstern or @nmpeterson - if you have any ideas on whether/how this is possible, I'm certainly open to suggestions. I can continue digging - the answer might be to do something outside of the theme file, or to just leave it as squares - but I wanted to check in case you knew of a way to do this.

Have a good long weekend!

[2020-09-08 17:01] dlcomeaux commented on #8
Fortunately, it appears that ggplot does behave well on long legends. I used some dummy data to generate this (nonsensical) bar chart, and the legend appears to automatically wrap. You can edit the number of columns or rows in the legend by using something like 'guides(fill = guide_legend(ncol = 3)' - if we do want to set a specific value, I'm not sure how we put that into a theme (same problem as

[2020-09-08 19:56] nmpeterson commented on #8
That really seems like a lot of effort for something that Comms might not even care about, in the end. Maybe we should reach out to them to find out if they can live with squares instead and, if not, how much work it would be for _them_ to do the conversion.

[2020-09-10 14:48] dlcomeaux commented on #8
Who is the last person in comms that we spoke with about this? I'm happy to follow up, but want to make sure that I go to the right person - would that be Ben?

[2020-09-10 14:57] nmpeterson commented on #8
Yeah, talk to Ben. We had been coordinating with Nancy, but she has left the agency.

[2020-09-10 15:24] dlcomeaux commented on #8
OK - I reached out to him. I'll keep you posted on what I hear back.

On Thu, Sep 10, 2020 at 9:58 AM Noel Peterson <notifications@github.com>
wrote:

--
*Daniel Comeaux*
Pronouns: *he, him*
MPP, Harvard Kennedy School of Government

[2020-09-10 15:30] matthewstern commented on #8
Ben and Dawn want to chat to learn more about this project soon, but they are both bound up entirely right now designing the Incentives Guide, which has a deadline of next week. You may not hear back from him for a bit.

[2020-09-16 16:28] dlcomeaux commented on #8
Question about this one - have we found any way to have ggplot dynamically put either vertical or horizontal grid lines, depending on the chart? Otherwise, I think we'll have to put some additional flags into theme_cmap() to specify "grid_type"

[2020-09-16 16:47] nmpeterson commented on #8
Would we only want vertical gridlines in cases where we're calling `coord_flip()`, or are there other cases, too? I just tested `coord_flip()` with `theme_cmap()` and was disheartened to see that the gridlines remain horizontal, but maybe we can figure out how to change that behavior?

[2020-09-16 16:48] dlcomeaux commented on #8
That seems like the primary one, but I'm not sure whether there might be other use cases we're not thinking about...and we also (presumably) want the option to turn them off? I'm trying out a way to do the flags right now, with the default being yes to horizontal and no to vertical.

[2020-09-16 16:51] dlcomeaux commented on #8
As an aside, it does appear that when you use `coord_flip()`, the line called by `h_line = 0` flips to vertical.

[2020-09-16 17:22] nmpeterson commented on #47
I have created a (currently empty) branch called `gh-pages` that will be used to build a `pkgdown` site that will then be hosted on this repo's GitHub pages URL (i.e. https://cmap-repos.github.io/cmapplot). I'll be looking into exactly how to build that site soon, and expect that eventually much of the example code that is currently in readme.md (which is very long) can be moved to one or more pag

[2020-09-16 17:28] matthewstern commented on #8
We could set them both to blank by default and add on an argument such as `gridlines = c(NA, "v", "h", "vh")` . That argument could modify `panel.grid.major.y` and panel.grid.major.x` theme attributes using syntax similar to what was developed for `xlab` and `ylab`.

[2020-09-16 17:30] dlcomeaux commented on #8
I pushed a variant of this (using xgrid and ygrid as separate flags) to the branch you and I have been working on

[2020-09-16 17:53] nmpeterson commented on #8
FWIW, I think I prefer @matthewstern's proposed unified parameter -- it just seems clearer to me. Your `if` statements could then be updated to `if ("v" %in% gridlines) { # foo  } else { # bar }` for vertical lines and `if ("h" %in% gridlines) { # baz } else { # qux }` for horizontal. (Regardless, the `if (!param)` should be replaced with `else`.

[2020-09-16 18:41] dlcomeaux commented on #8
Ok @nmpeterson and @matthewstern I've updated accordingly. I couldn't get the `%in%` to work on the combined "vh" so I just did an or statement. If there's a simple thing I'm missing, certainly open to pointers.

[2020-09-16 19:12] nmpeterson commented on #8
Ah, crap, I was thinking of python's `in` operator, which is more flexible than R's. (I do that a lot.)

You can use `if (grepl("v", gridlines))` instead.

[2020-09-16 19:16] dlcomeaux commented on #8
Ah, that makes sense. I had tried `str_detect()` but that was buggy when
there was a `NA` value. But `grepl` works.

On Wed, Sep 16, 2020 at 2:12 PM Noel Peterson <notifications@github.com>
wrote:

--
*Daniel Comeaux*
Pronouns: *he, him*
MPP, Harvard Kennedy School of Government

[2020-09-16 19:29] dlcomeaux commented on #8
I'm going to create a pull request for the current state of this - while there are additional points to work on, this addresses some of the line size and text size issues above, as well as the grid lines, and I think it's in functional shape. Open to review/comments/suggestions, of course!

[2020-09-16 19:46] matthewstern commented on #8
Two thoughts on the current code as written:

1. in `gridlines = c(...)`, if the user does not specify `gridlines`, the entire list passed as the default argument, right? Might this result in quirky behavior of the `if`?

[code]

Outputs: `[1]  TRUE FALSE  TRUE FALSE`

Is it better to write the code as `gridlines = "h"` but have the documentation say `gridlines = c("h", "v", "hv", NA)` to indicate

[2020-09-16 19:54] dlcomeaux commented on #8
My understanding, which worked when I tested it, is that the first element in the list is taken as the default. See [here](https://stackoverflow.com/questions/4683405/function-default-arguments-and-named-values).

[2020-09-16 19:57] dlcomeaux commented on #8
I'm open to this. I guess my hesitation is that then the default behavior is to override the theme, but it does simplify the structure a bit.

[2020-09-16 20:00] matthewstern commented on #8
I dunno.... I definitely feel like I read somewhere that the behavior you're talking about works and is the right way to do things. Maybe I'm off base here. However, my reading of the link you posted suggests we would want `gridlines <- match.arg(gridlines)` or something like that, to select the first argument from the vector in case the user does not overwrite.

I'm happy to play with this when I

[2020-09-16 20:11] dlcomeaux commented on #8
My understanding of what `match.arg` does in this case is just to allow validation of the correct set of inputs. We could add that, certainly (although I will admit I would need to look into how to throw the error message correctly). But I don't think that it has an impact on the default value taken by the function.

[2020-09-16 20:13] nmpeterson commented on #8
`match.arg()` will throw the error all on its own, without you having to do anything special.

[code]

[2020-09-16 20:19] dlcomeaux commented on #8
We could just replace it with "none" instead? I know that `NA` is clean, but in this case, since we are defining it ourselves in the cookbook, it seems fairly self-explanatory.

[2020-09-16 20:22] nmpeterson commented on #8
I just tested an empty string, and that also produces an error, so I guess `"none"` makes sense.

[2020-09-16 20:23] matthewstern commented on #8
I haven't looked at the null vs na vs empty string issue, but just to clarify the utility of match.arg:

From documentation:

[code]

[2020-09-16 20:28] dlcomeaux commented on #8
We can add that if you feel strongly about it, but from what I can tell, it is taking `"h"` as the default value because it is first, without needing to use `match.arg` in that way. My current solution was just to put a line for `match.arg(gridlines)` before the rest of the `theme` elements, as it immediately calls an error and stops. This appears to work when I test it on the examples, once we ad

[2020-09-17 03:41] matthewstern commented on #12
some links on grob management for safe keeping:
# https://cran.r-project.org/web/packages/gridExtra/vignettes/arrangeGrob.html
# https://stackoverflow.com/questions/59012782/ggplot2-how-to-align-grobs-to-sides-using-arrangegrob
# https://genviz.org/module-07-appendix/0007/01/01/advancedggplot2/

[2020-09-18 18:05] nmpeterson commented on #47
I've generated an initial version of a `pkgdown` site for this package, using all code exactly as-is in `master` currently. Take a look: https://cmap-repos.github.io/cmapplot/

Looking at the list of functions on the Reference page, I think we'll definitely want to make sure we're only exporting the functions that we want to be public-facing, as opposed to helper functions that are just for packag

[2020-09-22 20:42] dlcomeaux commented on #47
Thanks for doing this! One thing I noticed was that the font sizes do _not_ seem to be working very well in the examples. I imagine that is a consequence of us modifying the font size to now be 14, but wanted to flag as something we'll have to adjust (do we do that in the readme?)

[2020-09-22 21:07] nmpeterson commented on #47
The README file just needs to be re-knit when someone gets access to Whitney. I tested it out -- see commit 4a5d3aec88e742fc2cb1e5027b27950cb57dc713 -- but I've reverted the change because I did it on my Mac so all of the images were updated to use Arial. Font sizes looked good, though.

[2020-09-28 14:14] matthewstern commented on #26
Re establishing partial breaks, `scale_*_date()` and `scale_*_continuous()` in ggplot2 have arguments for `labels`, which according to their documentation can take a function that inputs the axes' breaks and returns a string of labels. It should be relatively easy to program a function that abbreviates certain dates. I would recommend that any function we program takes an argument that specifies w

[2020-09-28 16:17] dlcomeaux commented on #8
Noting a new issue here that was raised in the finalize_plot issue - font color inconsistencies appear to be a problem on the axis. I'll investigate why.

[2020-09-28 16:38] dlcomeaux commented on #8
#54 this appears to be the solution, it relates to the inheritance of some elements in incomplete themes (link in PR).

[2020-09-28 17:01] nmpeterson commented on #8
Merged into `master` and `finalizeplot` branches.

[2020-09-28 20:30] dlcomeaux commented on #8
[ ] New item to explore - left aligning legends, potentially with padding as an option.

[2020-09-28 21:14] nmpeterson commented on #47
If we want to include `finalize_plot`-rendered charts in our documentation, we'll have to be careful about how we do so. Rmarkdown doesn't seem to play nice with `finalize_plot` -- I'm not getting errors, but the final charts get cropped pretty violently.

However, if the Rmarkdown files call `finalize_plot` with `mode="png"` and specify the output location as the same folder as the rest of the do

[2020-09-28 22:47] matthewstern commented on #47
The way markdown works, we'd ideally want to export it in mode="plot", right? That way it draws it directly into the knit html file?

It looks like the default image canvas is 5" high x 7" tall, but this can be changed:
http://zevross.com/blog/2017/06/19/tips-and-tricks-for-working-with-images-and-figures-in-r-markdown-documents/
https://sebastiansauer.github.io/figure_sizing_knitr/

A quick test

[2020-09-28 23:02] matthewstern opened #55 "improving iteration functionality in finalize_plot"
In iteration through multiple save modes, `finalize_plot` will crash if one save fails. For example, if "test.pdf" already exists and is open by the user, so cannot be written to. Better behavior would be to skip that file if opening the device fails. I tried to implement `tryCatch` but couldn't figure it out.

Relatedly, the function currently overwrites past outputs with the same name with no wa

[2020-09-28 23:04] matthewstern commented on #47
Item to consider/do: document cmapplot_globals enviro, including describing plot_constants. This would ideally involve placing the margins image in a documentation file.

[2020-09-29 15:46] nmpeterson commented on #47
Correct.

I was getting the same odd spacing in my tests.

[2020-09-29 17:12] matthewstern opened #56 "create debug_grobs mode in finalize_plot"
add an argument called `debug_grobs` or similar, and implement code that draws outlines around the various grobs and viewports if the argument is set to TRUE.

With texbox grobs, this is probably best done in `box_gp`. In the plot, easiest is likely adding a theme element to the plot that paints a border. (this might change depending on @dlcomeaux 's legend implementation).

[2020-09-29 17:42] matthewstern opened #57 "left alignment of legends"
Moving this to a new issue:

- [ ] New item to explore - left aligning legends, potentially with padding as an option.

_Originally posted by @dlcomeaux in https://github.com/CMAP-REPOS/cmapplot/issues/8#issuecomment-700264623_

[2020-09-29 17:44] matthewstern commented on #8
I am going to close this issue, as the theme is fully implemented at the moment. I moved the above legend handling to it's own issue. Additional tweaks as they come up can get their own issue as well.

[2020-09-29 17:44] #8 closed

[2020-10-01 15:35] #12 closed

[2020-10-01 20:24] matthewstern opened #60 "establish centerpoint for divergent palettes"
Figure out the easiest way to assign the midpoint of divergent palettes

lead on this [here](https://stackoverflow.com/questions/40407909/midpoint-of-discrete-diverging-scale-in-ggplot2)

[2020-10-03 01:15] #9 closed

[2020-10-09 15:29] nmpeterson commented on #47
Initial `pkgdown` configuration has been done in #61.

Potential improvements:

- Add a really flashy sample plot back to **README.Rmd** to show off the package's capabilities on the main page, since all of the existing examples got split out into vignettes/articles.
- Add more vignettes, and/or refine the two that currently exist (**vignettes/plots.Rmd** is sort of a cookbook containing a bunch o

[2020-10-09 20:46] nmpeterson opened #62 "Package logo"
I spent a little bit of time working on a potential logo for the package, putting a CMAP twist on the tidyverse hexagon theme ([they're seriously obsessed](https://www.tidyverse.org)). I'm envisioning this being displayed both on the readme (i.e. GitHub project main page) like on [ggplot2](https://github.com/tidyverse/ggplot2), as well as the navigation bar for the pkgdown site.

Here's what I cam

[2020-10-11 14:28] dlcomeaux commented on #62
I like the concept. What did you make this in? One idea I had that could be graphically interesting (although might be too busy...) would be to have the cmapplot text run along the white swatch in the middle, either within it or on either side. But that would require some manipulation in Illustrator, presumably.

[2020-10-11 15:46] nmpeterson commented on #62
@dlcomeaux I currently have a 60-day trial of Photoshop on my laptop, so that's what I used. I also thought about something like what you suggested, but I was worried about text legibility at smaller sizes. The version I posted above is significantly larger than what I would want to slap on the readme.

[2020-10-13 17:00] matthewstern commented on #47
@nmpeterson it occurred to me after our meeting this morning that it might be worth trying running [`as.ggplot()`](https://www.rdocumentation.org/packages/ggplotify/versions/0.0.5/topics/as.ggplot) on the object returned by `finalize_plot(mode = "object")` and see if that prints any better in the markdown file. I have no idea if there is a discrepancy in how the stitching process handles ggplot ob

[2020-10-13 17:44] #62 closed

[2020-10-14 15:25] #56 closed

[2020-10-14 15:25] #57 closed

[2020-10-14 19:04] nmpeterson commented on #47
I think the [`bbplot` cookbook](https://bbc.github.io/rcookbook/) is a really excellent inspiration for what the `theme_cmap()` and `finalize_plot()` vignettes could look like.

[2020-10-15 22:55] nmpeterson commented on #47
FYI @matthewstern the reason there is a big gap between code and plot when we knit with `finalize_plot()` is that for some reason _two_ images are being knit. First, a totally blank/white plot, followed by the actual rendered plot in a separate image.

❓❓❓

[2020-10-16 13:31] matthewstern commented on #47
Good find @nmpeterson. When you say mode="png" outputs a blank plot, do you mean it saves two plots, or draws a blank one saves a populated one?

I have a few thoughts about this, I'll take a look this morning.

[2020-10-16 14:05] nmpeterson commented on #47
It "draws" the blank (which also gets saved, due to how knitr works) and exports the populated plot to PNG as expected, without displaying it automatically in the knitted document. I can send you my test code if you want to see exactly what I mean.

[2020-10-16 14:34] matthewstern commented on #47
@nmpeterson: I think I have a lead on this.

Line 468 of finalize_plot, which runs `grid::grid.newpage()`. This creates a new plot, so that the arrows in the plot window can be used to toggle back and forth between plots. When I use the little broom to "erase all plots", and then run finalize, I get two plots-- if I use the back arrow, I can go find a blank plot. But, if I comment that line out, I

[2020-10-16 14:43] matthewstern commented on #47
Note that in looking through this I found a view very small tweaks to make in finalize. They are now in a PR #63.

[2020-10-16 14:48] matthewstern commented on #47
This would probably work: place `if "plot" %in% mode { grid::grid.newpage() }` near the beginning of finalize, and remove line 468.

[2020-10-16 15:22] nmpeterson commented on #47
Awesome, this appears to have fixed the issue for knitting both modes, plot and PNG!

[2020-10-22 15:51] matthewstern opened #66 "Improvements based on comms review"
Feel free to add/change this list based on your notes:

Fonts @nmpeterson
- [x] Axis labels, bot not legend, should use Book
- [x] in-plot labels should use semibold
- [x] title leading should default to 1, not 0.93

Finalize @dlcomeaux
- [x] caption default placement should be bottom
- [ ] svg outputs appear to be corrupt upon opening in illustrator
- [x] margin_legend_i should be a bit bigger
-

[2020-10-23 15:22] dlcomeaux commented on #66
Note that we might need to do some additional work to add spacing between multi-line legends (vs. graphs that have two legends). See [here](https://stackoverflow.com/questions/11366964/is-there-a-way-to-change-the-spacing-between-legend-items-in-ggplot2)

[2020-10-23 18:28] dlcomeaux opened #68 "Distance between axis and axis labels"
As I was re-making the Census graphic, I noticed that our current default setting for the margin between axis labels and the plot is 5 big points, which is significantly larger than the similar spacing in the comms-produced graphic. Also, that value (5) is hard-coded into `theme_cmap()`, which might be better served as an adjustable value in the `overrides` list.

Flagging here because I think thi

[2020-10-23 22:21] matthewstern opened #70 "discrete option for continuous palettes"
From @gritzenthaler:
 Maps are beyond the scope of this project, but perhaps someone might have a graphical need for displaying a continuous palette in binned form? Do you think it's worth taking the time to add a "discrete" argument to the functions?  (The Viridis source code is here for reference: https://github.com/sjmgarnier/viridis/blob/master/R/scales.R. I'm poking around in it now.)

[2020-10-23 22:22] #60 closed

[2020-10-28 19:22] dlcomeaux opened #71 "Fonts don't work when you install the package"
I tried installing the package to use it on a graph I'm making, and it appears that the font issues we thought we'd solved are **not** solved. When I attempt to create a graph using `theme_cmap` it gives the following (and annoyingly familiar) error
message:

[code]

As a result, it is exporting text in Arial, and not Calibri. The issue persists even after running `finalize`.

I'm not really sure

[2020-10-28 19:22] dlcomeaux commented on #71
@nmpeterson and @matthewstern in particular, curious if you have thoughts here.

[2020-10-28 19:34] matthewstern commented on #71
As we consider this, I'd like to remind us of the change implemented [here](https://github.com/CMAP-REPOS/cmapplot/pull/53#issuecomment-697065629). There's a chance @nmpeterson's original implementation of fonts did work, but this change (to get PDF exporting to work) created this error that went undiscovered until now.

[2020-10-28 19:40] dlcomeaux commented on #71
Update: if you manually run `windowsFonts('Calibri' = windowsFont('Calibri'), 'Calibri Light' = windowsFont('Calibri Light'))`, it works. But, that code is already in the package in `cmapplot.R`, so I'm not sure why it isn't running on install. That seems like a question about how installation works, which I don't have a good grasp of.

[2020-10-28 20:56] nmpeterson commented on #71
I think this gets to the underlying reason: https://r-pkgs.org/r.html#understand-when-code-is-executed

[2020-10-28 22:07] dlcomeaux commented on #71
So would doing something like [this](https://stackoverflow.com/questions/20223601/r-how-to-run-some-code-on-load-of-package) help?

[2020-10-29 01:55] nmpeterson commented on #71
Looks promising!
On Oct 28, 2020, 5:08 PM -0500, Daniel Comeaux <notifications@github.com>, wrote:

[2020-10-30 20:53] dlcomeaux opened #74 "Panel spacing doesn't seem to work when using theme_cmap()"
This is a weird bug, but I've noticed that when I try to add spacing between panels, it doesn't work. What's weirder is that it also adds the numeric value of the spacing you add below the plot.

For example, this yields the following chart:
[code]
![image](https://user-images.githubusercontent.com/58892984/97755877-ece24d00-1ac7-11eb-8466-ad2136611877.png)

I can try to look into this, but does a

[2020-11-01 15:59] matthewstern commented on #74
@dlcomeaux, instead of the line:
`theme_cmap(gridlines = "hv",theme(panel.spacing.x = unit(5,"lines")))`
Try:
`theme_cmap(gridlines = "hv", panel.spacing.x = unit(5,"lines"))`

Additionally, try reinstalling from the branch with the complete them, which should be:
[code]

The way I've set up the `...`, `theme_cmap()` is expecting the actual theme arguments themselves, not an instance of the `theme

[2020-11-02 18:34] dlcomeaux commented on #74
Oops, good call. Thanks!

[2020-11-02 18:34] #74 closed

[2020-11-02 20:27] dlcomeaux opened #75 "Improving default panel spacing"
Minor change, but I think we should change the default spacing for faceted graphs (currently `unit(consts$half_line, "pt")`) to some larger value, as it can be quite tight in the current defaults, particularly when the whole background is the same color (white) and there is only a small break, which can lead to overlapping axis values.

I propose that we do this after #72 is merged.

[2020-11-03 17:28] #71 closed

[2020-11-03 17:29] matthewstern commented on #71
Addressed as of #72

[2020-11-03 17:32] matthewstern commented on #68
@dlcomeaux  Now that #72 is merged, this should be an easy fix. I support reviewing theme_cmap and theme_cmap_base for hard coded values that should move to consts.

[2020-11-09 03:59] matthewstern opened #76 "warning when specifying aes in geom_text_lastonly"
In this ggplot, the text for `geom_text_lastonly` is selected automatically/by default in some way that I am not familiar with:

[code]

However, if the user wants to specify/customize the text, I believe `label` must be specified in `aes()`, such as this:
[code]

This aes should be able to be specified in either the top-line ggplot (above) or in the geom (below). Interestingly, for me, the follow

[2020-11-09 15:24] nmpeterson commented on #76
This is because `geom_text_lastonly` is a hybrid of two geoms, `geom_text` and `geom_point`. While `geom_text` has a `label` parameter, `geom_point` does not, hence the error.

- Parameters exclusive to`geom_text`: `angle`, `hjust`, `vjust`, `family`, `fontface`, `lineheight`, and `label`.
- Parameters exclusive to `geom_point`: `shape`, `fill`, and `stroke`.

I guess the easiest solution would be

[2020-11-09 23:12] dlcomeaux opened #78 "Example charts for cookbook"
For the cookbook's fourth vignette, we decided to make a list of example "fully baked" CMAP charts. These should hit each of the major categories of charts that are regularly produced in CMAP publications and analyses. @gritzenthaler @nmpeterson @matthewstern @sarahcmap - please feel free to claim one (or more) of the following, or adding your own ideas, by editing this overview.

We can also have

[2020-11-10 03:53] matthewstern commented on #78
Thanks @dlcomeaux. In PR #79, which should hopefully be merged before we meet again in two weeks with our example code, I've established a cookbook vignette that can serve as the eventual home for these.

[2020-11-10 16:51] #76 closed

[2020-11-10 21:26] #47 closed

[2020-11-10 23:07] nmpeterson commented on #78
I took a stab at creating the donut chart on the page @dlcomeaux linked. (Can be turned into a normal pie chart by dropping the `ylim()` call.)

Waiting for confirmation from Ben about ratio of diameters for inner/outer circles, but I think this is basically ready to go.

[code]

![donut](https://user-images.githubusercontent.com/4383272/98744247-ff397200-2376-11eb-8811-5f008049986e.png)

[2020-11-13 18:36] matthewstern opened #82 "`text_nudge_y` in `geom_recessions` does not seem to work"
[code]

[2020-11-13 18:59] matthewstern commented on #68
@dlcomeaux the more I work with examples, the more I think `theme_cmap()` might want to add an arg for adding tick marks. See the manual addition [here](https://cmap-repos.github.io/cmapplot/articles/plots.html), which requires both a change to the spacing and to the ticks.

[2020-11-14 02:01] nmpeterson commented on #78
I'm also getting very close with the scatterplot. Basically just need to improve the legend and stop the origin lines from overlapping the points if possible.

Code is part of the [same gist](https://gist.github.com/nmpeterson/e18a7cf6819d5d9b2c111aafe7d414fc) as the donut chart.

![scatter](https://user-images.githubusercontent.com/4383272/99136454-7fb3d900-25ea-11eb-8bed-ba5e24e44ea7.png)

[2020-11-16 18:10] dlcomeaux commented on #78
[Here](https://gist.github.com/dlcomeaux/c0f50b8136351a7b39301113087f26f5) is code for the two charts below.

The first one is a recreation of the Census chart ([here](https://www.cmap.illinois.gov/updates/all/-/asset_publisher/UIMfSLnFfMB6/content/illinois-at-risk-of-a-census-undercount-especially-in-communities-of-color)):
![clustered_bar](https://user-images.githubusercontent.com/58892984/99290

[2020-11-16 22:14] nmpeterson commented on #78
I created a highlighted line graph using the [Gini coefficient indicator](https://www.cmap.illinois.gov/2050/indicators/income-inequality) data, which also uses `geom_text_lastonly` in a non-default manner. Code in [gist](https://gist.github.com/nmpeterson/e18a7cf6819d5d9b2c111aafe7d414fc).

![line_highlight](https://user-images.githubusercontent.com/4383272/99314295-7d3dc300-2826-11eb-8463-e7649c

[2020-11-17 00:30] dlcomeaux commented on #68
Hmm, yeah, that seems reasonable, and shouldn't take _too_ much work.

[2020-11-17 05:30] matthewstern commented on #68
@dlcomeaux can you confirm that this is still an issue? in #67 at present I see that this margin is set to `half_line / 2`:
[code]

This should make the margin 3.5 pts (14 / 2 / 2), and not hard-coded. Unless I'm missing something?

[2020-11-17 05:32] matthewstern commented on #75
doubled to a whole line in #67 (commit f6c1639). @dlcomeaux will you test and see if you think this should be larger?

[2020-11-17 15:14] matthewstern opened #83 "error in finalize w/o `theme_cmap`"
Finalize fails for me due to a lack of unit object sometimes--it looks like this happens specifically when passing a non-theme-cmap() plot to finalize(). While this is an unlikely occurrence, it's not preferable and it would be nice to allow the user to do this if they wanted. It would be good to explore this and root out the problem if possible.

My initial guesses is this has something to do wit

[2020-11-17 17:43] nmpeterson commented on #83
I ran a traceback and the error is coming from the "preformat plot" section of finalize_plot.R.

[code]

Specifically the `grid::convertUnit(plot$theme$legend.margin[[4]], "bigpts", valueOnly = TRUE)` part.

[2020-11-17 18:17] matthewstern commented on #83
Good catch. It looks like a saved `plot` that had no theme applied does not have `$theme`, so definitely doesn't have `$theme$legend.margin[[4]]`.

Applying `+ theme_grey()` to the plot fixes this problem, but creates another one in the code:
[code]
The issue here is that in the default theme, `$theme$legend.spacing.y` is NULL as `$theme$legend.spacing` is set instead.

To the first problem, I can

[2020-11-17 18:34] nmpeterson commented on #83
Regarding the latter, I think the `case_when()` solution sounds good.

Wondering about @dlcomeaux's thoughts on eliminating `legend_bump` for the former?

[2020-11-17 18:41] dlcomeaux commented on #83
I think we can go ahead and get rid of `legend_bump` - if people really want to modify it, they  should still be able to do so via the standard ggplot theme modifications. @nmpeterson

The `case_when` makes sense to me as well.

[2020-11-17 18:41] matthewstern commented on #83
You know, before the `# preformat plot` section as currently implemented, we could do:

[code]

This would solve the first problem AND get rid of nums 3 and 4 from the case_when list.

[2020-11-17 18:47] dlcomeaux commented on #83
@matthewstern that seems like it would work, and is worth it to simplify the cases. However, I think it might actually make sense to remove `legend_bump` even so - that argument was created to solve a problem that no longer exists, and I think to the degree we can simplify the functions we export, we should.

[2020-11-17 18:59] matthewstern commented on #83
I agree! If someone wants to implement this, that would be swell. Otherwise, I can take a crack over the next few days. I'm ambivalent on explicitly adding the theme at this point.

Note that the `case_when` is unnecessarily verbose considering the pattern is always "use X if it isn't NULL". This appears to work instead:
[code]

[2020-11-17 20:51] dlcomeaux commented on #83
Both issues are now addressed in #67 so we are set once that is merged.

[2020-11-17 20:51] #83 closed

[2020-11-17 21:00] dlcomeaux commented on #75
Seems fine to me. In the facet grid example, we should document how to change this if desired.

[2020-11-17 21:44] #66 closed

[2020-11-17 21:44] #75 closed

[2020-11-17 22:42] gritzenthaler commented on #78
I'll begin putting together a faceted graph and histogram, maybe even incorporate the race palette.

[2020-11-17 22:53] nmpeterson commented on #78
@gritzenthaler I'm working on chart using the race palette right now

[2020-11-18 18:08] nmpeterson commented on #78
Here's a stacked bar chart for the [non-SOV mode share indicator](https://www.cmap.illinois.gov/2050/indicators/non-single-occupancy-modes). Code in [gist](https://gist.github.com/nmpeterson/e18a7cf6819d5d9b2c111aafe7d414fc) (stackedbarchart.R).

![stackedbar](https://user-images.githubusercontent.com/4383272/99569703-95cceb00-2996-11eb-8ac0-43aa32e41be1.png)

[2020-11-18 21:46] dlcomeaux commented on #78
As a heads up, I have put the charts that have already been developed into the cookbook branch.

[2020-11-19 23:17] #55 closed

[2020-11-23 15:24] matthewstern opened #89 "Fix `update_recessions()`"
Looks like NBER has officially placed the US in a current recession (has no close-date), which is throwing off the function. Also, they upgraded their website and changed the URL location for the excel file. Quick fix applied in #85, but should revisit and make sure is working properly. Looks like the open-ended current recession is not processing correctly.

In addition, tryCatch methods should b

[2020-11-23 21:51] dlcomeaux commented on #68
@matthewstern this is correct, I submitted this issue before this change to the structure of the theme, if I'm recalling correctly. Going to close this and make a new issue about adding ticks as a possible enhancement.

[2020-11-23 21:51] #68 closed

[2020-11-23 21:53] dlcomeaux opened #90 "Easier tick marks"
Per an earlier conversation with @matthewstern in #68 I wanted to add a potential enhancement: making it easier for users to turn on tick marks. As this stands, it requires modifications to two different elements of the theme (see [here](https://cmap-repos.github.io/cmapplot/articles/plots.html#further-theme-modifications)), but this could be simplified for users that want to add a "default" style

[2020-11-23 22:28] dlcomeaux commented on #82
This issue is due to ggplot's default value for `ymax`: `+Inf` - because of this, adding a nudge doesn't make a change (because infinity plus one is still infinity). This can be addressed by adding a manual definition of `ymax` in the call to `geom_recessions` which we have specified in the documentation.

[2020-11-23 23:09] matthewstern opened #91 "repair SVG export"
svg exports do not display correctly in Illustrator. However, they look fine in browsers. This is not a major issue, but solving it would be nice.

@sarahcmap reports that plots exported with `ggsave()` do display correctly in Illustrator.

[2020-11-23 23:16] matthewstern commented on #91
[`ggsave()`](https://github.com/tidyverse/ggplot2/blob/master/R/save.r) has an internal function `plot_dev()` which returns various devices with various arg configurations. It's very elegant actually. TL;DR: they use  `svglite::svglite()`, where we use `grDevices:svg()`. This is likely the issue.

I believe we selected `svg()` for package and argument consistency (our other vector devices, `cairo_

[2020-11-24 15:55] nmpeterson opened #92 "pkgdown site graphics are Arial-only"
For our convenience, I set up a ["GitHub Action"](https://github.com/CMAP-REPOS/cmapplot/actions/runs/373302547/workflow) that rebuilds the pkgdown site every time a commit is pushed to master (including PR merges). This action was developed by the [r-lib team](https://github.com/r-lib/) (who developed pkgdown, devtools, usethis, roxygen2, etc.), and was set up to run the site-building functions i

[2020-11-24 15:56] nmpeterson commented on #92
As an aside, it looks like the r-lib team is currently working on a [systemfonts](https://github.com/r-lib/systemfonts) package. I am going to keep an eye on this to see if it can make our font handling any better.

[2020-11-24 16:30] nmpeterson commented on #91
From the [svglite website](https://svglite.r-lib.org/) (emphasis mine):

This could be really excellent, if it works properly!

[2020-11-24 16:38] matthewstern commented on #92
If a Windows environment is possible for the automatic pkgdown build, making that change so we can get Calibri seems worth it in the short term.

As you suggest, the question about what to do once we have access to Whitney could be moot for quite a while. One argument goes that by the time we have access, we won't be changing documentation (or the package) very often and the manual `deploy_to_bran

[2020-11-24 19:51] matthewstern commented on #91
Just a reminder that `finalize_plot()` now invisibly exports the grobTree object that is the final plot, so you can use that to do initial experimentation without messing with the current `finalize` code.

e.g.:
[code]

[2020-11-24 23:36] sarahcmap commented on #91
Thanks to your tips I just made a few changes in a new branch 'svgfix' and that is working well in Illustrator.

But I'm wondering about the fonts and if we need to make use of the font arguments in svglite that Noel linked to.  I tried switching the chart title font to something other than Arial on my mac while not updating the svglite font argument and it exported correctly (with my new specifie

[2020-11-25 16:39] matthewstern commented on #91
@sarahcmap I was able to use your script to run an export with Calibri. Cool!

Some notes:

- It works but the text appears wider in the SVG than in other formats (see attached). Not sure what to do about that.
- My quick read of the resources Noel shared is that at least some of the additional argumentation is to help a computer without a font interpret an SVG that calls for that font. So, I'm cu

[2020-11-25 19:47] #78 closed

[2020-11-25 19:47] #82 closed

[2020-11-25 20:20] dlcomeaux commented on #92
My bias would be to do what requires less ongoing maintenance...so I think that the Calibri solution with some footnotes is a decent compromise.

[2020-11-25 20:23] nmpeterson commented on #92
I wonder if I can figure out a way to create a private repository holding the font files and have those loaded into the virtual environment...

[2020-11-25 22:35] sarahcmap commented on #91
Thanks for checking @matthewstern. I don't have Calibri so the svg is looking pretty funky since it converts to Arial upon opening in Illustrator.  I see that all of the `font-family` attributes in the svg are set to Calibri though so that is getting set properly without any additional args.

That's weird it looks wider for you though...when I tried changing fonts to a non-Arial font I have locall

[2020-11-30 18:45] nmpeterson commented on #92
I've created a private repo ([cmap-fonts](https://github.com/CMAP-REPOS/cmap-fonts)) and uploaded the Whitney files. I think it will be possible to reconfigure the pkgdown action to install the font files from there, and build the plots with Whitney. As part of this, I am going to attempt to make it possible for cmapplot to use Whitney on macOS, rather than switching the pkgdown action to use Wind

[2020-11-30 19:59] nmpeterson commented on #91
With svglite, is there any way to embed the fonts in case the user doesn't have them? That would seem to be one benefit of our original method.

[2020-12-01 21:26] nmpeterson commented on #92
I've successfully gotten R to use Whitney on macOS. Right now, there's a bit of a hold up with implementing it for the pkgdown action, though. Since the fonts are licensed, I can only put them in a private repo, but our current billing plan doesn't allow the necessary permissions for one repo's actions to access a separate private repo. I'm talking with IT about whether we can change our billing p

[2020-12-01 21:54] matthewstern commented on #92
any plans to issue a PR for Whitney use on Mac that is separate from the pkgdown build question?

[2020-12-03 19:11] nmpeterson opened #98 "Add `...` parameter to scale functions"
I just ran into a case where I wanted to apply a color palette to a histogram with `cmap_fill_discrete()`. I also wanted to modify the legend labels, so I added `scale_fill_discrete()` with the `labels` parameter. These two functions conflict with each other, and only the last-specified one will be applied.

[code]

So with the above order, I got a plot that had the cmapplot palette applied, but n

[2020-12-03 22:22] sarahcmap commented on #91
I'm still a little confused on this point.  It looks like they recently added a [webfonts argument](https://github.com/r-lib/svglite/commit/8cd30291b7f66c4797948099f597744366e97cdc) to the package, but I think we need a URL for them to get whitney from or we'd have to put the font file in the cmapplot package?  Is that how y'all read this/are we allowed to share the font in this way?

Also when i

[2020-12-03 22:52] nmpeterson commented on #91
We can't do anything that would allow non-staff to obtain the font files. Font licensing terms are pretty strict.

That said, the CMAP website uses Whitney as a web font, so there may be some way for us to access it (although we would have to be careful not to include any code with access tokens or whatever in the repo...).

If there's no way to embed the fonts, I'm inclined to just stick with the

[2020-12-03 23:28] nmpeterson commented on #91
What's really interesting is that the SVG file @matthewstern uploaded does not pass the [W3C's validator](https://validator.w3.org/check), but an SVG of the same chart that I just exported using cmapplot 1.0.0 (below) *does* validate.

[test.svg.zip](https://github.com/CMAP-REPOS/cmapplot/files/5639624/test.svg.zip)

[2020-12-03 23:55] sarahcmap commented on #91
Mm that's a good point to just look at the svg text and compare it to ones that do work.  I'll check that out next week.

Oh interesting I have never used a validator before.  It looked like mostly issues with the id attributes from what I saw when I ran it?  Those can be set by the svglite package i believe, but there may be other issues too

[2020-12-04 00:06] matthewstern commented on #91
Let's step back for a second to review the various devices we employ and what our options are (at least as far as I am aware):

- We currently do all our plotting with the core R package `grDevices`. The package allows for many [devices](https://www.rdocumentation.org/packages/grDevices/versions/3.6.2/topics/Devices). In-R drawing devices come from this package, and are device dependent: `quartz()

[2020-12-04 04:40] matthewstern commented on #91
So I'm betting y'all already came across the free range stats blog post cited above and I'm late to the party. I also just found another helpful and recent blog post about Cairo package graphics [here](https://www.jumpingrivers.com/blog/r-graphics-cairo-png-pdf-saving/), maybe also late to this party?  Key takeaways from both combined seem to me to be:
- `cairo_pdf()` is the best PDF device (great

[2020-12-04 15:51] nmpeterson commented on #91
I agree that the important thing to decide before continuing is what our SVG use case is. If Comms is perfectly happy for PDF to be the standard format we supply to them for editing, then I think our SVGs should be exported with fonts converted to paths/polygons (current cmapplot behavior) so that they can be displayed on websites and rendered correctly for all users in that environment. I wouldn'

[2020-12-04 16:29] matthewstern commented on #91
@nmpeterson @sarahcmap any thoughts on costs/benefits of upgrading to the [ragg](https://ragg.r-lib.org/index.html) package for rasters?

- [tidyverse blog post](https://www.tidyverse.org/blog/2020/05/updates-to-ragg-and-systemfonts/) celebrating ragg 0.2.0
- ragg appears to be [approaching 1.0.0 imminently](https://www.tidyverse.org/blog/2020/05/updates-to-ragg-and-systemfonts/)

[2020-12-04 16:42] dlcomeaux commented on #98
This seems like a great addition, and I don't see any downside. It also doesn't seem like it should be too complex to implement.

[2020-12-04 17:00] matthewstern opened #99 "pkgdown news page -- tie to github releases?"
I think it would be nice to include a news page on the pkgdown site that automatically captures updates via the github releases tool. In my mind, every few PR merges should get a release update, and it would make sense to capture that in a changelog on the website.

This does not seem hard to do: https://pkgdown.r-lib.org/reference/build_news.html#yaml-config

[2020-12-04 17:37] nmpeterson commented on #91
Apparently fonts [can be embedded](https://github.com/BTBurke/svg-embed-font) in SVG files, but it doesn't appear that any of the available R graphics devices currently support this.

[2020-12-07 15:52] nmpeterson commented on #99
I support this, as a way to draw attention to new versions for the non-dev users. However, it doesn't sound quite as automatic as you're suggesting -- it's all based on a well-maintained NEWS.md file (like [pkgdown's](https://github.com/r-lib/pkgdown/blob/master/NEWS.md), which has to be written by hand as far as I can tell.

[2020-12-07 23:59] matthewstern commented on #99
yeah, OK, it looks like I didn't quite grasp how manual the default functionality was. Still wrapping my head around this plugin as a possible solution via github action: https://intuit.github.io/auto

[2020-12-08 18:54] nmpeterson commented on #99
@matthewstern that looks sweet!

[2020-12-08 19:09] matthewstern commented on #99
@nmpeterson when you set up the actions for testing and pkgdown building, did you do them manually or did you get them from the "marketplace"? I'm planning to tinker with this over this coming weekend maybe, but wondering if the right way to start is installing from here: https://github.com/marketplace/actions/auto-action ?

[2020-12-08 19:15] nmpeterson commented on #99
I configured them manually, using files in [r-lib/actions](https://github.com/r-lib/actions) as a starting point.

Be aware that with our current billing plan, we are _unable_ to use ["secrets"](https://docs.github.com/en/free-pro-team@latest/actions/reference/encrypted-secrets#creating-encrypted-secrets-for-an-organization) at this time (which is why I haven't been able to implement the Whitney-s

[2020-12-09 23:04] #90 closed

[2021-01-08 22:33] dlcomeaux opened #102 "Allowing additional arguments in cmap scales"
I've come across some plots where it would be helpful to have control over the formatting of the labels and text in the `cmap_fill_continuous` (and other cmap scales). The vanilla versions of these functions allow such modifications (see [here](https://ggplot2.tidyverse.org/reference/scale_colour_continuous.html)) but I believe our current configuration does not.

[2021-01-08 22:34] dlcomeaux commented on #102
@gritzenthaler just to confirm, am I missing anything here? Or would this be new functionality?

[2021-01-11 20:00] #102 closed

[2021-01-13 18:16] dlcomeaux commented on #98
This has been implemented.

[2021-01-13 18:16] #98 closed

[2021-01-14 20:15] nmpeterson commented on #92
We'll be switching to a new billing plan tomorrow, which should allow us to finally get this working.

[2021-01-18 19:33] matthewstern commented on #92
@nmpeterson it looks to me like this did not work?

The OSX check run on master after the merge [here](https://github.com/CMAP-REPOS/cmapplot/runs/1723605247) failed, and although the pkgdown build succeeded, the site still appears to be rendering in Arial.

[2021-01-18 20:39] #92 closed

[2021-02-21 02:04] matthewstern commented on #99
Per @nmpeterson, we should take a look at this: https://usethis.r-lib.org/reference/index.html#section-package-release

[2021-02-24 17:49] #99 closed

[2021-02-25 17:43] dlcomeaux opened #113 "Add title to vertical chart layout"
Building on the work done in #111 and functionality tested in #109 , I am going to work on adding titles to the vertical layout.

[2021-02-26 21:42] matthewstern commented on #113
@dlcomeaux, concurrently with this work I'd like to overhaul the finalize vignette.

I propose rearranging the sections as follows, and making substantive changes as per the parentheticals:

- Basic implementation
   - Finalizing
   - Exporting
- Customization
   - Top-level position adjustments *(remove debug mode, remove reference to `legend_shift`)*
   - Exporting a graph with no title
   - Tit

[2021-02-28 22:26] dlcomeaux commented on #113
That sounds like a good structure to me, @matthewstern

[2021-03-02 04:11] matthewstern opened #116 "pkgdown site fonts broken"
It appears all fonts in plots on the pkgdown site are currently rendering in Arial. Noel, would you be willing to look into why this is the case, and hopefully implement a solution within #115?

[2021-03-02 04:25] nmpeterson commented on #116
I'll try to take a closer look tomorrow but I'm not confident I'll be able to find the problem. According to the logs from the most recent pkgdown build, the fonts were correctly installed and available to R on the virtual machine.

![image](https://user-images.githubusercontent.com/4383272/109597011-ff53ae00-7adc-11eb-9ceb-b30215fe15db.jpeg)

[2021-03-02 04:26] matthewstern commented on #116
Interestingly enough, it also looks like text is not getting bolded (e.g. title text in finalize), which should be happening even if falling back to Arial.

This could definitely be our fault, but I can't help but wonder if this has to do with the updates to the `systemfonts` package?

[2021-03-02 04:28] nmpeterson commented on #116
We don’t use systemfonts, we use sysfonts

[2021-03-02 04:39] matthewstern commented on #116
fonts work:
- when using cmapplot on my computer
- when knitting the finalize.Rmd vignette on my computer

Fonts do not work:
- when previewing the pkgdown site locally using `pkgdown::build_site()`
- when the pkgdown site is built by the github VM

Could this be a pkgdown issue?

[2021-03-02 15:23] matthewstern commented on #116
pkgdown was [updated](https://pkgdown.r-lib.org/news/index.html#pkgdown-1-6-0-2020-09-07) last Fall to use `ragg_png` to export png files. I wonder if the 2021 upgrades to ragg have created a pkgdown-specific knitting issue?

[2021-03-02 15:51] nmpeterson commented on #116
Can confirm that `pkgdown::build_site()` is not working locally for me, either. If I install cmapplot with `devtools::install_github('cmap-repos/cmapplot', build_vignettes=T)` and then `browseVignettes('cmapplot')`, everything appears correct.

This is psychotic.

[2021-03-02 16:36] nmpeterson commented on #116
Unfortunately I don't think I'm going to have any more time to investigate further this week.

[2021-03-02 17:01] matthewstern commented on #116
It looks to me that a backend change in pkgdown has caused this issue. Rolling back to a previous version of pkgdown and previewing the site locally shows fonts correctly:

[code]

pkgdown has been at version 1.6.0 for months, during which time the site has built correctly. However, 1.6.0 was [updated](https://pkgdown.r-lib.org/news/index.html#pkgdown-1-6-0-2020-09-07) to use `ragg_png`, and `ragg

[2021-03-02 17:21] #113 closed

[2021-03-02 19:43] matthewstern opened #117 "constant modifier function"
Timi ran into a problem today in which he needed to modify a value of `cmapplot_globals` - in his case, he wanted to shrink `cmapplot_globals$fsize$S` to something smaller than 11, the default. This is difficult/impossible to do from outside the the package, because (contrary to it's name!) `cmapplot_globals` is not a "global" variable from the user's perspective.

We could use a simple setter fun

[2021-03-02 19:58] matthewstern opened #118 "update example"
One of the examples in finalize_plot refers to the argument `title_width`. This should be updated to `sidebar_width` and a quick scan of examples in other man files should be done to confirm no deprecated args or constants are used.

[2021-03-02 20:15] tkoyejo opened #119 "unable to use cmapplot continuous color palettes for fill aesthetic"
I wanted to apply the built-in CMAP continuous palette to produce a continuous gradient fill aesthetic in a stacked bar chart. When I apply `cmap_fill_continuous(palette = "seq_blues")` to a stacked bar chart, I get the following error: "Error: Discrete value supplied to continuous scale". If I switch to `cmap_color_continuous(palette = "seq_red_purple")`, the code is ignored and the default ggplo

[2021-03-02 21:10] matthewstern commented on #119
@gritzenthaler, this is a bit of a different color application than we had originally scoped and tested. Is this code modifiable to enable the application of a continuous palette to a discrete set of categories?

[2021-03-02 21:28] gritzenthaler commented on #119
Yes I believe we talked about this sort of application a while ago, particularly in regards to choropleth maps. I'm sure it's possible, so I'll look into it once I have some time in the coming week.

[2021-03-03 16:02] nmpeterson commented on #117
I would have thought it could just be done with the double arrow assignment, e.g. `cmapplot_globals$fsize$S <<- 8)`, but I just tested that and get:

[2021-03-09 19:05] matthewstern opened #120 "Update to systemfonts and ragg?"
We should discuss whether it makes sense to upgrade font handling to use the new package systemfonts and new raster devices from the ragg package.

Resources:

- https://www.tidyverse.org/blog/2021/02/modern-text-features/#advanced-font-feature-support
- https://cran.r-project.org/web/packages/systemfonts/systemfonts.pdf
- https://ragg.r-lib.org/

While systemfonts should be able to handle fonts n

[2021-03-09 23:26] dlcomeaux opened #121 "Allow capitalized race designations for cmap_[fill/color]_race"
Right now, the `cmap_fill_race` and `cmap_color_race` will only work if your race/ethnicity designations are in lower case. I propose that we also enable it to work in the case when they are the same words but in different cases, to make it easier to generate production-ready graphics. I can look into this, I don't imagine it will be terribly complicated.

[2021-03-10 15:36] nmpeterson commented on #121
I don't follow. The parameter names are lowercase, yes, but the supplied values can be anything. For example, the [final cookbook chart](https://cmap-repos.github.io/cmapplot/articles/cookbook.html#race-and-ethnicity-time-series-line-graph-1) includes this code:

[code]

Am I misunderstanding the issue?

[2021-03-10 15:39] dlcomeaux commented on #121
My suggestion is that, in that case, you wouldn't need to specify - we could put in some code so that "white" or "White" or "WHITE" would all default to using the value for "white" (unless otherwise specified). My thinking here is that, since we tend to publish things that are not all in lower case, this could save a bit of time. It is by no means a critical improvement.

[2021-03-10 15:43] nmpeterson commented on #121
Looping @gritzenthaler in, as she understands the current behavior best.

[2021-03-10 20:16] #121 closed

[2021-03-11 18:53] gritzenthaler commented on #121
Sorry I'm late to the party. I think it would involve some regex work but you're right, it would only save us an inconsequential amount of time from inputting the parameter names. They show up on the graph as they appear in your data, or they can be edited with some legend customizing code.

[2021-03-11 19:32] matthewstern commented on #121
@gritzenthaler what do you think about coding in a single default set of values into the function, so that if most likely/preferred text was coded into the data, the user would not have to type in values manually? (Am I correct in understanding that right now no default values are set?)

[2021-03-11 19:40] dlcomeaux commented on #121
@matthewstern right now the default values are the lower case race/ethnicity (i.e., "white").

[2021-03-11 21:54] nmpeterson commented on #121
To change the defaults, I think it would have to be done in `/R/colors_discrete.R` where `cmap_palettes$race` is defined.

[2021-03-17 22:17] dlcomeaux commented on #117
While I think this could be useful, I think this is one that we would want to talk with comms about - do we want smaller text to be an option? The cases I've had where this would have been nice are on caption sizing on small graphs and on-chart labels where I have several things close together. In both of those cases, though, the solution could instead be to change the graphic, rather than the fon

[2021-03-23 15:47] dlcomeaux commented on #118
I didn't find any in the actual finalize vignette, but there are a few in the cookbook. I'm going to update those, plus add in some updates to the recessions section, as part of the v1.2 effort.

[2021-03-23 16:15] matthewstern commented on #118
Thanks @dlcomeaux! I'm actually talking about the [man file](https://cmap-repos.github.io/cmapplot/reference/finalize_plot.html). I for one have not looked at super closely at any of the man files in quite some time.

If revisiting man files, it may also be worthwhile to think about the example code in the context of what is rendered on the pkgdown site. For example, simplifying example sections l

[2021-03-23 19:01] dlcomeaux commented on #118
@matthewstern ok, I've made a few tweaks accordingly. On the question of the man files, I guess I think it still makes sense to have a more detailed documentation version in the man file for the function specifically - it can go into the more technical details that someone reviewing the vignette on `finalize` is less likely to need?

[2021-03-23 19:07] matthewstern commented on #118
yes, definitely. Not saying we should avoid technical details. Just that we should recognize that the results of examples are displayed on the website and make sure our examples tell the important stories both in code and output.

In truth, this comment may in part be a response to how many of our font-based examples are set to not run due to their breaking `devtools::check()`. There's a chance th

[2021-03-23 19:11] dlcomeaux commented on #118
Oh I see your point. My bias would be to wait to do that, at least until we have a conversation as a group about whether and to what degree we want to restructure (since that would take a bit of work, and might involve rework if/when we fix the fonts).

[2021-03-23 20:41] dlcomeaux commented on #26
I found some code ([here](https://joshuacook.netlify.app/post/integer-values-ggplot-axis/)) that accomplishes the first and I'll take a crack at the second.

[2021-03-23 20:54] matthewstern commented on #26
@dlcomeaux  note that [this half-baked function](https://cmap-repos.github.io/cmapplot/reference/integer_breaks.html) has been a part of cmapplot for forever. It can be built upon or dumped if better tools are available.

[2021-03-23 21:01] dlcomeaux commented on #26
@matthewstern yes I found and am using that one, it seems to work fine.

[2021-03-29 15:23] matthewstern commented on #119
Is this the same issue as #70?

[2021-03-29 15:25] matthewstern commented on #117
@nmpeterson, can you remind me why we defined `cmapplot_globals` as a named list rather than an environment? I seem to recall it was an `env` at first but then you had to change it for some reason. (Based on my research, it seems like this sort of modification, if we decide to do it, is easier with an environment.)

[2021-03-29 15:53] nmpeterson commented on #117
I think it was so we could export it? We made the change in 67e0f5f89d4d98d25ebd1b0c296a4a5961c2b625

[2021-03-29 16:05] matthewstern commented on #117
Thanks for tracking it down. Here's the PR: https://github.com/CMAP-REPOS/cmapplot/pull/73.

[2021-03-29 18:08] tkoyejo commented on #119
If I'm reading this right, sounds like the same issue to me.

[2021-03-29 20:19] matthewstern opened #127 "v1.2 font handling and output goals"
This issue is meant to combine the related issues #91, #116, and #120, which I will close after posting this. There may be more useful details in each of those discussions, but I've done my best to capture the most useful links and findings below.

**The situation:**
- our use of `svg()` does not export text (it converts text to shapes) and has not proven readable by Illustrator
- recent developme

[2021-03-29 20:19] matthewstern commented on #120
Replaced this with #127

[2021-03-29 20:19] #120 closed

[2021-03-29 20:19] matthewstern commented on #116
Replaced this with #127

[2021-03-29 20:19] #116 closed

[2021-03-29 20:20] matthewstern commented on #91
Replaced this with #127

[2021-03-29 20:20] #91 closed

[2021-03-29 20:21] matthewstern commented on #119
@gritzenthaler for the time being I've assigned you to both issues and added both to the v1.2 milestone. Feel free to close one or the other if you determine them to be duplicates.

[2021-03-29 20:52] nmpeterson commented on #127
Would reverting `cmapplot_globals` back to an environment have any unintended consequences related to the discussion in #67? I know @dlcomeaux was frustrated that `cmapplot_globals` could not be accessed by users who load the package via `library()` instead of `load_all()` when it was an environment, but I don't know if we now assume anywhere that a user can access it, or if that access would be b

[2021-03-29 21:09] dlcomeaux commented on #127
I do not believe that we currently rely on the assumption that a user can access it. The only case that I can think of where it would be relevant right now is colors - if a user wanted to use 'blackish' for anything that is not configured to use it by default. I know that in some of my personal implementations of cmapplot I would use additional colors, if we got them from Comms (i.e., if there wer

[2021-03-29 21:29] matthewstern commented on #127
Here's[ another resource](https://www.r-bloggers.com/2013/04/package-wide-variablescache-in-r-packages/) on environments within packages that I just added to my original post above.

They write:

Seems to me that shifting to an environment could allow for basic fetch and set functions could be added using `get` and `assign`. This would mirror how base R allows `options()` for setting global option

[2021-03-29 21:51] matthewstern commented on #127
Also, as an FYI, ggplot2 uses an environment and set/get functions for global variables: https://github.com/tidyverse/ggplot2/search?q=ggplot_global

[2021-04-02 22:20] sarahcmap commented on #127
Thanks for putting all these links together Matt.  I see that ragg does not have a bmp export option - are we sticking with grDevices for this?  Do folks use .bmp?  I read it's not used much these days.

[2021-04-02 22:23] nmpeterson commented on #127
I'm personally of the opinion that PNG is the *only* raster format we should support/encourage. BMP files tend to be much larger, and JPG compression creates awful artifacts on graphics (it's great for photos, though).

[2021-04-02 22:46] matthewstern commented on #127
@sarahcmap, 100% don't need to maintain support for bmp, we just did that bc it was available and worked the same. To that end, my default here would be to continue to support png, tif, and jpg via ragg, but I can get with @nmpeterson 's perspective on this and support png only. Either is fine by me!

[2021-04-02 22:49] nmpeterson commented on #127
I don't have an issue with continuing to allow any raster formats supported by ragg, but I do think we should be explicitly recommending only PNG for use by CMAP staff

[2021-04-08 20:22] dlcomeaux opened #129 "Margins image is not displaying in vignettes"
For some reason, at least on my computer, the margins pngs are not displaying in the finalize vignette. Is anyone else having this issue?
![image](https://user-images.githubusercontent.com/58892984/114091333-2e98d000-987e-11eb-8500-2f6a3ef924f0.png)

[2021-04-09 14:14] nmpeterson commented on #129
Most recent [pkgdown run](https://github.com/CMAP-REPOS/cmapplot/runs/2015464881?check_suite_focus=true)'s log says (under "Deploy package"):

Meanwhile, the vignette includes the following HTML to display the images:

[code]

I guess those file references should just be changed to say `./../reference` instead of `./../man`? Would this create any issues in terms of viewing vignettes locally?

[2021-04-09 14:23] nmpeterson commented on #129
[This seems relevant.](https://pkgdown.r-lib.org/reference/build_articles.html#external-files)

[2021-06-01 15:45] nmpeterson commented on #129
Fixed by #133.

[2021-06-01 15:45] #129 closed

[2021-06-02 18:00] #70 closed

[2021-06-02 18:01] #119 closed

[2021-06-02 18:11] #118 closed

[2021-06-02 18:13] #89 closed

[2021-06-02 18:14] #26 closed

[2021-06-02 19:52] dlcomeaux commented on #127
I have been digging into this a bit this afternoon - I concur with @sarahcmap that everything except SVGs appears to be working properly. Specifically, while SVGs are exporting text as text, the bolding is not consistent with other exports - this is particularly noticeable for the title but it is also relevant for other text on the graph. Also, when you copy and paste that exported text, the font

[2021-06-02 22:15] nmpeterson commented on #127
Just a note with the proper weights of the different Whitney variants:

- Light: 300
- **Book: 400**
- **Medium: 500**
- **SemiBold: 600**
- Bold: 700
- Black: 800

[2021-06-03 15:02] dlcomeaux commented on #127
Yeah - I did try those, they don't seem to quite match up with the outputs from the other graphics. Here's what that looks like:
![image](https://user-images.githubusercontent.com/58892984/120667142-d4b62000-c452-11eb-9f0e-9d59594a57d3.png)

[2021-06-03 15:04] dlcomeaux commented on #127
More generally, it appears that the fonts are not registering as "semibold" or "book" in `systemfonts`. I'm not sure what the reason for that would be, but if you look at the `systemfonts::system_fonts()` list, the weights for most of the Whitney fonts are blank. In the font registry, they are either normal or bold.

[2021-06-03 16:48] matthewstern commented on #117
It's worth noting that is is partially but not completely in #123 (version 1.2), and in a side experiment from a few months ago I created a framework that I think would address this if we decided to move forward with this. See the creation and use of `calc_default_aes()` in the defunct branch systemfonts_mess.

Most of the work is done, I'd like to implement it at some point.

[2021-06-03 20:16] dlcomeaux opened #134 "Implementing svglite"
_NB: This issue is a consolidation of components of several previous issues (primarily #91 and #127), which have been or will shortly be closed over time as the package has evolved. They are referenced throughout._

The `cmapplot` package currently relies on the `svg` device to export SVG graphics. As noted in #91 , the images exported using this device have two related problems:
- They are corrup

[2021-06-03 23:07] nmpeterson commented on #127
Bear in mind that, as of version 1.2, cmapplot does _not_ use the fonts in `systemfonts::system_fonts()`. Rather, it uses the manually registered fonts in `systemfonts::registry_fonts()`. Since `systemfonts::register_fonts()`, which we use to perform that manual registration, does not provide a means to specify multiple weights within a font family, each weight has effectively been registered as i

[2021-06-04 14:08] matthewstern commented on #127
The only addendum that I would make to this is that register_fonts actually does requires the identification of a "bold" face, so each of our three fonts has been assigned a bold weight. Whitney Semibold calls Whitney Black as bold, Medium calls Bold, and Book calls Semibold. It would be an interesting to know how `svglite()` would handle, say, a title string that was partially bolded via html.

T

[2021-06-04 14:43] nmpeterson commented on #127
Yes, it's really bizarre. I wonder if it would produce the same output on a system that doesn't have Whitney already installed.

[2021-06-10 15:01] #127 closed

[2021-06-25 15:17] matthewstern opened #136 "small documentation bug related to viz_palette and viz_gradient"
`devtools::document()` writes the file viz_palette.Rd with the line `\name{viz_gradient}`, which breaks some links to help files on pkgdown--particularly, at a minimum, the `viz_palette()` and `viz_gradient()` auto-created-links on the colors vignette/article. I have manually overwritten the `\name` line in the Rd file to `viz_palette`. Something in the roxygen comments must need to be tweaked so

[2021-07-15 19:52] nmpeterson opened #137 "Add map layout function"
One of the longer-term goals for cmapplot is to support maps instead of just charts. While the `finalize_plot()` function _can_ be used for ggplot-based maps as currently coded (see [example PDF](https://github.com/CMAP-REPOS/cmapplot/files/6825839/low_income_zip_codes_map.pdf)), this layout has not been reviewed by Comms, and certainly does not match the ON TO 2050 map design templates (which may

[2021-07-15 19:57] nmpeterson opened #138 "Follow up with Comms about discrete color scales"
A long time ago -- like, pre-pandemic -- Comms promised to help us come up with some approved discrete color scales to replace the ones @gritzenthaler created, which were intended to be placeholders. Currently, only the race/ethnicity scale is actually using approved colors (and only because I copied the hex codes from the website).

Additionally, we may want to ask them to review the continuous s

[2021-07-15 20:04] matthewstern commented on #138
This one is actually in my court, I talked to Dawn about this a bit ago and she asked me to put a comms request in through that google form they use. I'll do that now.

[2021-09-20 16:04] matthewstern opened #140 "vignette build fails on install"
Noel's computer hit a vignette build fail when reinstalling the package this morning. Matt's computer succeeded, but then failed after updating all CRAN packages. Failure seems to be coming from the Cookbook vignette.

I suspect that this is a result of something changing in a dependency that breaks some code in the Cookbook. Packages updated on Matt's computer between a successful/unsuccessful in

[2021-09-20 16:22] nmpeterson commented on #140
[code]

[2021-09-28 14:54] matthewstern commented on #137
I was thinking about this recently. The vast majority of the code in the `finalize_plot` function is related to vetting arguments, measuring and creating grobs, and doing the drawing and saving. With just a few exceptions, finalize spends most of it's time in the grid package and other related packages -- not in ggplot. Therefore, I think the best course of action here is going to be to integrate

[2021-09-28 20:06] nmpeterson commented on #137
Assuming we support tmap, I imagine at the very least it would be useful to create a `tm_layout_cmap()` function, which could just be a wrapper of `tmap::tm_layout()` that supplies CMAP-default values for several of the arguments.

[2021-09-28 20:44] matthewstern commented on #137
right. Maybe it makes sense to start by supporting just one map package and implement both theming and a modified finalize_plot together.  I wonder if there is interest in supporting ggplot2 maps (e.g. `geom_sf` etc)? That would throw in a bit of a monkey wrench.

[2021-11-05 19:45] matthewstern opened #141 "double caption in finalize"
A common use of the caption grob produced by `finalize_plot` is to provide both a "note" and a "source" that should be a bit separate from each other. Most examples in the cookbook, for example, include `<br><br>` between text to create the necessary visual spacing.

A logical and easy add would be to allow the `caption` argument to take a vector of text entries, which finalize_plot would then com

[2021-11-08 16:21] nmpeterson commented on #141
As long as it remains backwards-compatible (i.e. a single string can still be supplied to the parameter, not wrapped in a `c()`) I have no problem with this. I guess it would just be a matter of checking whether the supplied value is a vector and, if so, returning `cat(the_vector, sep = "<br><br>")`?

[2021-11-08 16:45] matthewstern commented on #141
yeah, I'm not even sure you'd need to check:

[code]

[2022-02-11 19:14] nmpeterson opened #142 "Remove unused race/ethnicity categories from legend"
Currently, if you create a chart using `cmap_color_race()`, the resulting legend will display all five categories (white, black, hispanic, asian, other), even if one of those categories is not present in the data/chart:

![race_legend](https://user-images.githubusercontent.com/4383272/153654732-d230b640-6712-4d27-8956-8216bb59e89b.png)

I think there are two possible approaches for addressing this